$themeColor: #1c790a;

@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  color: $themeColor;
}

h2 {
  color: $themeColor;
}

.video-bg {
  background-color: $themeColor;
}

.leaders-scroll::-webkit-scrollbar {
  display: none;
}

.updates-small_screen::-webkit-scrollbar {
  display: none;
}

.modal-content-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.modal-content-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #f2f2f2;
}

.masterpage-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.elon-image {
  height: 400px;
  flex-basis: 400px;
}

@media screen and (max-width: 600px) {
  .gallery-scroll::-webkit-scrollbar {
    display: none;
  }
  .modal-content-scroll::-webkit-scrollbar-thumb {
    display: none;
  }
  .masterpage-content {
    height: 100%;
  }
  .spacing-bottom-nav {
    margin-bottom: 100px;
  }

  .elon-image {
    height: 200px;
    flex-basis: 200px;
  }

  .top-nav {
    animation: show-nav 0.3s ease-in;
  }

  @keyframes show-nav {
    from {
      position: absolute;
      top: -600px;
    }
    to {
      position: fixed;
    }
  }
}
